/* Reset default margins and paddings */
body, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Section Styling */
.offer-menu {
    padding: 40px 20px;
    background-color: #fff; /* White background */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Offer Item Styling */
.offer-item {
    display: flex;
    align-items: center;
    background-color: #222831;
  border-radius: 8px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Image Styling */
.offer-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-image img {
    border-radius: 50%; /* Circular image */
    width: 100%;
    height: auto;
    max-width: 150px;
}

/* Details Styling */
.offer-details {
    flex: 2;
    padding-left: 20px;
    text-align: left;
}

.offer-details h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.offer-details .price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffbe33; /* Red color for price */
}

.button {
    display: inline-flex;
    align-items: center;
    background-color: #ffbe33; /* Red background */
    color: #fff;
    padding: 10px 20px;
    border-radius: 90px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: center;
   
}

.button:hover {
    background-color: #ffbe33; /* Darker red on hover */
}

.cart-icon {
    font-size: 18px;
    margin-right: 8px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .offer-image img {
        max-width: 120px;
    }

    .offer-details h4 {
        font-size: 20px;
    }

    .offer-details .price {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .offer-item {
        flex-direction: column;
        padding: 20px;
        margin: 20px 0;
    }

    .offer-image {
        margin-bottom: 20px;
    }

    .offer-details {
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .offer-details h4 {
        font-size: 18px;
    }

    .offer-details .price {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .cart-icon {
        font-size: 16px;
    }
}
